<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos enim ut vero quibusdam totam ducimus cupiditate excepturi! Voluptas natus ratione necessitatibus totam tenetur, doloribus quisquam. Iure aliquid quae id impedit.
    <hr/>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, esse officia velit adipisci modi ab eum perferendis id odio accusamus necessitatibus ipsa eos rem consequuntur nam voluptatum error nostrum aut.
</body>
</html>